.form {
    width: 420px;
    margin: 0 auto;
    text-align: center;

    &-title {
        margin: 89px 0 45px;
        line-height: 28px;
        font-size: 44px;
    }

    &-input {
        font-family: "PFBeauSansPro-Light", sans-serif;
        color: #383737;
        width: 367px;
        padding: 0 20px;
        border: 1px solid #e4e4e4;
        font-size: 24px;
        line-height: 64px;
        outline: none;
        margin: 0 auto 10px;

        &--textarea {
            height: 244px;
        }

        &:focus {
            border: 1px solid #40abff;
        }

        &.error {
            border: 1px solid #ce2c04;
        }

        &:first-child {
            margin-top: 62px;
        }
    }

    &-submit {
        color: #fff;
        font-family: "PFBeauSansPro-Regular", sans-serif;
        font-size: 20px;
        margin-top: 35px !important;
    }

    &-error {
        display: none;
        position: absolute;
        bottom: 142px;
        text-align: center;
        width: 100%;
        font-size: 25px;
        color: #ce2c04;
        left: 0;
    }
}
