/* font-family: "PFBeauSansPro-SemiBold"; */
@font-face {
    font-family: "HelveticaNeueCyr-Light";
    src: url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
}

body {
    font-family: "HelveticaNeueCyr-Light", sans-serif;
}

.scrn {
    color: #fff;
    min-width: 1000px;

    &-content {
        max-width: 1600px;
        min-width: 1000px;
        position: relative;
        min-height: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &-top {
        background: url(../images/scrn-top-bg.jpg) no-repeat center;
        background-size: auto 100%;
        height: 100vh;
        min-height: 768px;
        position: relative;
        display: table;
        width: 100%;

        .scrn-content {
            display: table-cell;
            vertical-align: middle;
        }

        &__title {
            font-size: 120px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &__text {
            font-size: 28px;
            width: 1030px;
            margin: 37px auto 50px;
            line-height: 34px;
        }
    }

    &-conditions {
        background: #f6f6f6;
        height: 1187px;
        color: #333;
        position: relative;

        &:before {
            content: '';
            height: 288px;
            width: 100%;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            background: #dcdcdc;
            z-index: 1;
        }

        &__title {
            font-size: 70px;
            color: #333;
            padding: 135px 0 80px;
        }
    }

    &-design {
        background: url(../images/scrn-design-bg.jpg) no-repeat top center #fff;
        height: 1187px;
        color: #fff;
        position: relative;

        .scrn-content {
            text-align: left;
        }

        &__title {
            font-size: 70px;
            padding: 182px 0 27px;
            margin-left: 203px;
        }

        &__text {
            font-size: 24px;
            width: 430px;
            margin-left: 203px;
        }
    }

    &-perspective {
        height: 820px;
        color: #333;
        position: relative;

        &:before {
            content: '';
            height: 137px;
            width: 100%;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            background: #dcdcdc;
            z-index: 1;
        }

        .scrn-content {
            text-align: left;
        }

        &__img {
            background: url(../images/scrn-perspective-img.jpg) no-repeat top left #fff;
            width: 932px;
            height: 683px;
            position: absolute;
            left: -100px;
            top: 0;
        }

        &__content {
            display: inline-block;
            float: right;
            width: 440px;
            margin-right: 160px;
        }

        &__title {
            font-size: 70px;
            margin-top: 77px;
        }

        &__text {
            font-size: 24px;
            margin: 35px 0 40px;
        }
    }

    &-dates {
        height: 800px;
        color: #333;
        position: relative;
        background: #f3f3f3;

        .scrn-content {
            text-align: left;
        }

        &__img {
            background: url(../images/scrn-dates-img.jpg) no-repeat top left;
            width: 857px;
            height: 800px;
            position: absolute;
            right: -100px;
            top: 0;
        }

        &__content {
            display: inline-block;
            float: left;
            width: 570px;
            margin-right: 160px;
        }

        &__title {
            font-size: 70px;
            margin-top: 172px;
            text-align: center;
        }

        &__text {
            text-align: center;
            font-size: 24px;
            margin: 35px 0 40px;
            line-height: 32px;
            width: 550px;
        }
    }

    &-bottom {
        height: 850px;
        color: #fff;
        position: relative;
        background: url(../images/scrn-bottom-bg.jpg) no-repeat top center;

        .scrn-content {
            text-align: left;
        }

        &__director {
            &-wrap {
                display: inline-block;
                text-align: center;
                margin: 96px 0 0;
            }


            &__image {
                display: inline-block;
                background: url(../images/director-ava-wrap.png) no-repeat center;
                width: 264px;
                height: 264px;

                img {
                    border-radius: 50%;
                    position: relative;
                    top: 45px;
                    left: 0;
                    width: 173px;
                    height: 173px;
                    box-shadow: 0 0px 10px 0 #3e3e3e;
                }
            }

            &__name {
                font-size: 32px;
                margin: 26px 0 30px;
                line-height: 33px;
            }

            &__phone {
                font-size: 28px;
            }

            &__email {
                font-size: 22px;
            }
        }

        &__info {
            display: inline-block;
            float: right;
            width: 420px;
            margin-right: 434px;
        }

        &__title {
            font-size: 70px;
            margin-top: 247px;
            text-align: left;
        }

        &__text {
            font-size: 24px;
            margin: 35px 0 40px;
            text-align: left;
            width: 415px;
            line-height: 30px;
        }
    }
}

@bg: #81c806;
.submit {
    font-size: 32px;
    padding: 21px 80px 23px;
    background: @bg;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: lighten(@bg, 5%);
    }

    &:active {
        background: darken(@bg, 2%);
    }

    &.disabled {
        opacity: .6;
        cursor: default;

        &:hover {
            background: @bg;
        }

        &:active {
            background: @bg;
        }
    }
}

.top-menu {
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        float: right;
    }

    &__item {
        display: inline-block;
        float: left;
        padding: 0;
        list-style-type: none;
        margin: 0 30px;

        a {
            color: #909090;
            text-decoration: none;
            font-size: 20px;
            line-height: 70px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.conditions {
    &__wrap {
        overflow: hidden;
        position: relative;
        float: none;
        display: inline-block;
        margin-bottom: 113px;
    }

    &__item {
        font-size: 24px;
        display: inline-block;
        width: 20%;
        padding: 200px 0 0;
        position: relative;
        vertical-align: top;

        &:before {
            content: '';
            background-image: url(../images/conditions-icon-sprite.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 144px;
            top: 0;
            left: 0;
            position: absolute;
        }
    }

    &__icon {
        &--approve {
            &:before {
                background-position: center 0;
            }
        }

        &--idea {
            &:before {
                background-position: center -148px;
            }
        }

        &--base {
            &:before {
                background-position: center -296px;
            }
        }

        &--exist {
            &:before {
                background-position: center -444px;
            }
        }
    }
}

.format {
    &__wrap {
        width: 750px;
        height: 400px;
        box-shadow: 0 0 30px #565656;
        display: inline-block;
        background: #fff;
        position: relative;
        z-index: 2;
    }

    &__title {
        font-size: 70px;
        margin: 105px 0 30px 5px;
    }

    &__text {
        background: url(../images/format-icon.png) no-repeat 0 0;
        padding: 0 0 0 165px;
        font-size: 24px;
        height: 63px;
        width: 376px;
        text-align: left;
        display: inline-block;
        line-height: 28px;
    }
}

.bonus {
    &__wrap {
        text-align: center;
        width: 746px;
        height: 349px;
        box-shadow: 0 0 30px #565656;
        display: inline-block;
        background: #81c806;
        position: absolute;
        z-index: 2;
        bottom: 120px;
        left: 112px;
    }

    &__title {
        font-size: 70px;
        margin: 70px 0 22px 5px;
        font-weight: bold;
    }

    &__text {
        font-size: 24px;
        height: 63px;
        width: 515px;
        text-align: center;
        display: inline-block;
    }
}

.technology {
    &__wrap {
        color: #fff;
        text-align: center;
        width: 743px;
        height: 343px;
        box-shadow: 0 0 30px #565656;
        display: inline-block;
        background: #81c806;
        position: absolute;
        z-index: 2;
        bottom: -172px;
        left: -160px
    }

    &__title {
        font-size: 48px;
        margin: 65px auto 22px;
        font-weight: bold;
        width: 510px;
    }

    &__text {
        font-size: 24px;
        height: 63px;
        width: 590px;
        text-align: center;
        display: inline-block;
    }
}

.dates {
    &__wrap {
        overflow: hidden;
        position: relative;
        float: none;
        display: inline-block;
        margin-bottom: 0;
    }

    &__item {
        float: left;
        font-size: 24px;
        display: inline-block;
        width: 120px;
        padding: 46px 0 0;
        position: relative;
        margin: 0 35px;
        text-align: center;
    }

    &__day {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 60px;
        line-height: 120px;
        width: 120px;
        margin-bottom: 11px;
        z-index: 1;

        &:before {
            content: '';
            background: #0196f9;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 3px;
            z-index: -1;
        }
    }
}

@media only screen
and (max-width: 1480px) {
    .top-menu__item a {
        font-size: 16px;
    }

    .conditions__item {
        font-size: 18px;
    }

    .scrn {
        &-top {
            &__text {
                width: 900px;
            }
        }

        &-conditions {
            height: 850px;

            &:before {
                height: 180px;
            }

            &__title {
                padding: 80px 0 30px;
            }
        }

        &-design {
            height: 1030px;

            &__title,
            &__text {
                margin-left: 95px;
            }
        }

        &-perspective {
            height: 469px;

            &:before {
                height: 100px;
            }

            &__content {
                width: 50%;
                margin-right: 0;
            }

            &__img {
                width: 50%;
                background-size: 100%;
                left: 0;
            }

            &__title {
                font-size: 50px;
                margin-top: 17px;
            }

            &__text {
                font-size: 20px;
                padding: 0 60px 0 0;
                box-sizing: border-box;
            }
        }

        &-dates {
            height: 469px;

            &__content {
                width: 50%;
            }

            &__img {
                width: 50%;
                background-size: 100%;
                right: 0;
            }

            &__title {
                font-size: 50px;
                margin-top: 70px;
            }

            &__text {
                font-size: 18px;
                margin: 35px auto 40px;
                width: 425px;
                line-height: 22px;
            }
        }

        &-bottom {
            height: 800px;

            &__director-wrap {
                width: 50%;
            }

            &__info {
                width: 50%;
                margin: 0;
            }
        }
    }

    .format {
        &__wrap {
            width: 500px;
            height: 250px;
            left: 80px;
            bottom: 70px;
        }

        &__title {
            font-size: 50px;
            margin-top: 50px;
        }

        &__text {
            font-size: 18px;
            width: 285px;
            background-size: 90px;
            background-position: 0 10px;
            padding: 0 0 0 100px;
        }
    }

    .bonus {
        &__wrap {
            width: 500px;
            height: 250px;
            left: 80px;
            bottom: 35px;
        }

        &__title {
            font-size: 50px;
            margin-top: 50px;
        }

        &__text {
            font-size: 18px;
            width: 400px;
        }
    }

    .dates {
        &__wrap {
            display: block;
        }

        &__item {
            width: 30%;
            margin: auto;
        }
    }

    .technology {
        &__wrap {
            width: 500px;
            height: 250px;
            left: -30px;
            top: 420px;
        }

        &__title {
            font-size: 35px;
            margin-top: 50px;
            width: 440px;
        }

        &__text {
            font-size: 18px;
            width: 400px;
        }
    }
}
