@import "mixins.less";

.modal {
    color: #333;
    font-size: 20px;
    display: none;
    background:  rgba(256, 256, 256, 0.5);
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    .disable-user-select();

    &__close {
        font-size: 28px;
        position: absolute;
        right: 12px;
        top: 13px;
        cursor: pointer;
        color: #c6c6c6;
        line-height: 17px;

        &:hover {
            opacity: .6;
        }
    }
}

.modal {
    &__wrap {
        width: 540px;
        height: 716px;
        font-size: 12px;

        .modal__content {
            overflow: hidden;
            overflow-y: auto;
            height: 100%;
        }
    }

    &-done {
        &__wrap {
            width: 365px;
            height: 307px;
            background: #fff;
        }

        &__content {
            color: #383737;
            font-size: 20px;
            background: url(../images/modal-ok-icon.jpg) no-repeat 51px 60px;
            width: 225px;
            padding: 200px 0;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.hidden {
    visibility: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 10;
    opacity: .6;
}
